
.search{
    font-size: larger;
    width: 15rem;
    outline: none;
    margin-right: 8px;
    color: black;
}
.input{
    display:flex;
    justify-content: center;
    margin-bottom: 10px;
}
.searchicon{
    margin-right: 5px;
    cursor: pointer;
}
.locationicon{
    /* margin-right: 20px; */
    cursor: pointer;
}
.fah{
cursor: pointer;
margin-left: 5px;
}
.cel{
cursor: pointer;
margin-left: 20px;
}

