.location{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p{
  color: white;

}
h2{
    margin-top:0;
    margin-bottom: 5px;
    color: white
}
